body{
	color:rgb(145, 187, 177);
	background-color: #505d5d;
	
}
h1{
	font-size: 50%;
	background-color: red;
	position: absolute;`
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	color: coral;

}
h1:hover{
	color:#ccc;
		transform:rotate(180deg);
}
