body{
    background-image:url("snow.gif");
    background-size: 100%;
}
.santa{
    width: 350px;
    height: 600px;
    position:absolute;
    left: 40%;
    top: 30%;
    transform-origin: center bottom;
    animation: 2s santam alternate infinite ease-in-out; 
}
.body{
    width: 350px;
    height: 350px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 250px;
}
.head{
    width: 170px;
    height: 250px;
 
    position: absolute;
    left: 90px ;
    top: 70px;
    z-index: 1;
}
.beard{
    width: 170px;
    height: 120px;
    background-color: white;
    position: absolute;
    top: 170px;
    border-radius: 0%  0% 35%  35%;
}
.face{
	width:170px;
	height:80px;
	background-color:#fc8386;
	position:absolute;
	top:100px;

}
.hat{
	width:170px;
	height:80px;
	background-color:red;
	border-radius:0 0 50% 50% / 0 0 100% 100%;
	transform:rotate(180deg);
}
.line{
	width:190px;
	height:20px;
	background-color:white;
	position:absolute;
	left:-10px;
	top:-20px; 
}
.eyel{
	width:10px;
	height:10px;
	background-color:black;
	border-radius:50px;
	position:absolute;
	left:40px;
	top:30px;  
}
.eyer{
	width:10px;
	height:10px;
	background-color:black;
	border-radius:50px;
	position: absolute;
	left:120px;
	top:30px;

}
.nose{
	width:20px;
	height:40px;
	background-color: red;
	border-radius:0 0 35% 35%;
	position:absolute;
	left:75px;
	top:50px;
	z-index: 4; 
}
.mouse{
	width:50px;
	height:15px;
	background-color:black;
	border-radius:0 0 50% 50%/ 0 0 100% 100%;
	position:absolute;
	left:55px;
	top:50px;
	z-index: 4px;
	animation: 3s smeh infinite; 
}
.earl{
	width:20px;
	height:40px;
	background-color:#fc8386;
	position:absolute;
	border-radius:0 0 35% 35%/0 0 35% 35%;
	left:-10px;
	top:25px;

}.earr{
	width:20px;
	height:40px;
	background-color:#fc8386;
	position:absolute;
	border-radius:0 0 35% 35%/0 0 35% 35%;
	left:160px;
	top:25px;

}
.circle{
	width:80px;
	height:80px;
	background-color:crimson;
	position:absolute;
	border-radius: 50%;
	left: 70px;
	top: -130px;
	z-index: -5;
}
.circlew{
	width:40px;
	height:40px;
	background-color:white;
	position:absolute;
	border-radius: 50%;
	left: 130px;
	top: -130px;
	z-index: -6;
}
@keyframes smeh{
	0%{border-radius:0 0 50% 50%/  0 0 100% 100%;}
	30%{border-radius: 0 0 50% 50% / 0 0 100% 100%;height: 15px;}
	50%{border-radius: 50%;height : 35px;}
	70%{border-radius: 0 0 50% 50% / 0 0 100% 100%;height: 15px;}
	100%{border-radius: 0 0 50% 50% / 0 0 100% 100%;}
}
h1{
	color: red;
	font-size:40px;
	text-align: center;
	animation: 5s fon infinite;
}
@keyframes fon{
	0%{color: red;}
	30%{color: darkred;}
	40%{color: green;}
	50%{color: lightgreen;}
	60%{color: blue;}
	70%{color:lightblue;}
	80%{color:purple;}
	90%{color:lightblue;}
	100%{color:red;}
}
@keyframes santam{
	from{transform: rotate(-5deg); }
	to{transform: rotate(5deg);}
}
.pygovica1{
	width: 20px;
    height: 15px;
    background-color:black;
    position:absolute;
    border-radius: 50%;
    left: 170px;
    top: 130px;
    z-index: 4;  
}
.pygovica2{
	width: 20px;
	height: 15px;
	background-color:black;
	position:absolute;
	border-radius: 50%;
	left: 170px;
	top: 190px;
	z-index: 4; 
}
.pygovica3{
	width: 20px;
	height: 15px;
	background-color:black;
	position:absolute;
	border-radius: 50%;
	left: 170px;
	top: 260px;
	z-index: 4; 
}